*{
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

.kotak {
    border: 2px solid white;
    margin-top: -120px;
    width: 90px;
    height: 30px;
    margin-left: 20px;
}

.kotak h3 a {
    color: rgb(248, 244, 244);
    text-align: center;
    font-size: 17px;
    position: relative;
    top: -15px;
    margin-left: 6px;
}

/* ============================================= ABOUT ME ========================================================== */

.kotak1 {
    border: 2px solid white;
    width: 90px;
    height: 30px;
    margin-left: 107px;
    margin-top: -30px;
}

.kotak1 h3 a {
    color: rgb(234, 237, 240);
    margin-top: 3px;
    text-align: center;
    font-size: 20px;
    width: 90px;
    position: relative;
    top: -15px;
    margin-left: 9px;
}

.card{
    height: 200px;
    background-color: black;
}

.foto1{
    border: 3px solid white;
    position: relative;
    top: 15px;
    width: 100px;
    left: 180px;
    border-radius: 30px;
    animation: foto1masuk 1s ease;
}

@keyframes foto1masuk {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.judul {
    color: rgb(243, 243, 243);
    margin-top: -155px;
    margin-left: 450px;
}

.subs {
    color: rgb(233, 229, 229);
    margin-left: 380px;
}

/* ===================================================================================================================================== */
/* ========================================== PROJECT ME ======================================================================== */
.kotak2 {
    border: 5px solid rgb(11, 10, 10);
    margin-top: 200px;
    width: 200PX;
    height: 230PX;
    margin-left: 50PX;
    background-color: rgb(7, 7, 7);
    background-image: url('img/code_opt4_gold.png');
}

.kotak2 h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    position:relative;
    top: -10px;
    border: 2px solid rgb(220, 212, 212);
}

.foto2 {
    width: 135px;
    position: relative;
    top: -35px;
    margin-left: 30px;
    animation: foto2masuk 1s ease;
}

@keyframes foto2masuk {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.kotak2 a {
    color: aliceblue;
    position: relative;
    margin-left: 73px;
    top: 130px;
    font-size: 20px;
    background-color: rgb(245, 13, 13);
}
/* ======================================================================================================================================== */
/* ======================================= SKILL ============================================================================================ */
.kotak3 {
    border: 2PX solid black;
    background-color: black;
    width: 200PX;
    margin-left: 350px;
    position: relative;
    top: -230px;
    height: 230px;
}

.kotak3 h3 {
    color: rgb(250, 244, 244);
    text-align: center;
    position:relative;
    top: -6px;
    border: 2px solid rgb(254, 254, 254);
    background-color: black;
    margin-left: 3px;
    margin-right: 3px;
}

.foto3 {
    width: 155px;
    position: relative;
    top: -20px;
    margin-left: 20px;
    animation: foto3masuk 1s ease;
}

@keyframes foto3masuk {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Skills {
    color: rgb(253, 249, 249);
    margin-left: 76px;
    position: relative;
    top: -25px;
    background-color: red;
    font-size: 20px;
}
/* ==================================================================================================================================== */

/* =================================== ISI ABOUT ME ================================================================== */

.nama {
    color: rgb(21, 21, 21);
    margin-top: 5px;
    

}
img {
    width: 380px;
    position: relative;
    top: -250px;
    margin-left: 799px;
}

